/*
 *  For desktop
 *
 */
@media screen and (min-width: 1081px) {

header {
	width: 25%;
}

}


/*
 *  For mobile
 *
 */
@media screen and (max-width: 1080px) {

header {
	width: 75%;
}

}

body {
	background-color: #ccccb3;
	font-family: 			sans-serif;
	color: 						#a6a6a6;
}

header {
	text-align: center;
	margin: 		3% auto 5% auto;
}

.btn {
	width: 				auto;
	margin-left:  auto;
	margin-right: auto;
}

.box {
	background-color: #fff;
	border-radius: 		5px;
	box-shadow: 			2px 2px;
	text-align: 			center;
}

main {
	width: 	75%;
	margin: auto;
}

nav {
	width: 	 75%;
	margin:  auto;
	padding: 2% 0 2% 0;
}

h3 {
	padding-top: 2%;
}

form {
	padding-bottom: 2%;
}

#container {
	padding: 2% 0%;
}

.arrayElement {
	display: inline;
	margin: 0 .5%;
}
